body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button {
  padding:.8rem;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover {
  border: .1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}

.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height:1000%;
}
.header {
  grid-area: header;
  background-color: #203040;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
}
.brand a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color: white;
  text-decoration: none;
  margin-right: 1 rem;
  
}

.main{
  grid-area: main;
  margin:5% 0;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  display: flex;
  align-items:center;
  justify-content: center;
  color: white;
}

/* register screen*/
.register_form {
  display: flex;
  border: solid black 0.2rem;
  margin: 0 auto;
  height: 100%;
  width: 50rem;
  
}
.formContent {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem .5rem 0;
  width: 100%;
 
}
.formContent ul li{
  list-style: none;
  margin: 1rem 0rem;
}
.formContent ul li label {
  display: block;
  float:left;
  margin-bottom:.5rem;
}
input {
  width: 100%;;
  height: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}
/* Table */

table{
  width:90%;
}
tr>td {
  padding: 1em 0;
}
tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* editForm */

.editForm {
  width: 100%;
  display:flex;
  justify-content: center;
}
.editForm > form {
  border: .1rem black solid;
  border-radius: .5rem;
  width: 30rem;
}
.editForm form  ul li{
   list-style: none;
   width: 90%;
}
.editForm form  ul li label{
    display:flex;
    justify-content: left;
    margin: 1rem 0 0.5rem 0;
}
.editForm form  ul>li:last-child{
    margin-top: 1rem;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%  
}
.form-container {
  display:flex;
  flex-direction: column;
  width:25rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
  
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transform: translateX(-4%);
}
.form-container li:nth-child(5) > button{
  padding:.8rem
}
.form-container select {
  padding:.4rem .5rem;
  border-radius: .5rem;
  width:max-content;
}

.form > form > ul > li > label {
  display: flex;
  text-align: left;

  margin-bottom: 0.5rem;
}
.form > form > ul > li > input {
  display: block;
  margin-bottom: 1rem;
  width: 95%
}
input {
  padding:0 0 0 .5rem;
}
.register_form {
  width: 30%;
  border-radius: 1rem;
}

.formContent{
  width: 80%;
}

.createOrdersForm {
  display: flex;
  text-align: center;
  justify-content: center;
}
.createOrdersForm > form {
  width:32rem;
  border: black solid;
  border-radius: 1rem; 
}
.createOrdersForm > form >ul {
  list-style-type: none;
  width: 80%;
}
.createOrdersForm > form > ul > li > label {
  display: flex;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.createOrdersForm form > ul > li:last-child {
  margin: 1rem auto;
  width:60%;
  
}
/* ordersScreen */
.ordersScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter > td > input {
  width: 80%;
  margin: 0 auto;
}
.filterButton {
  align-self: flex-end;
  margin-right: 30%;
  box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.filterButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.filterButton:active {
	position:relative;
	top:1px;
}


.notShow {
  display: none;
}
.cartScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.cartScreen > div > button {
  display:flex;
  padding:.3rem .8rem;
  margin-bottom: 1rem;
}

.dropdown{
  display: inline-block;
  position: relative;
  margin-right:2rem;
}
.dropdown-content{
  list-style: none;
  position: absolute;
  right:0;
  padding: 1rem;
  right:0;
  background-color: #203040;
  margin:0;
  margin-right:-1rem;
  display: none;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-content > li{
    margin-bottom: 1rem;
}

.yourTickets {
  display: flex;
  flex-direction: column;
  width:80%;
  margin: 0 auto;
}
.yourTickets > button {
  width:30%;
  height: 2rem;
  margin-bottom:1rem;
}
.requestTicketsScreen {
  display:flex;
  flex-direction: column;
  width:80%;
  margin: 0 auto;
}
.requestTicketsScreen .deliverImage {
  width:5rem;
}
.uploadImageScreen {
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width:80%;
}
.uploadImageScreen img {
  width:15rem;
}
.uploadImageScreen button {
  margin-top:2rem;
}
.uploadImageScreen input {
 display:flex;
 width:80%;
 height: 1.5rem;
 padding: .8rem;
 font-size:1rem;
}
.uploadImageScreen label {
  display:flex;
  margin-bottom:1rem;
  margin-left:.5rem;
  font-size: 1rem;
 
}
.uploadImageScreen button {
  display: flex;
  padding:1rem;
  font-size: 1rem;
}
.PopupModalImage {
  width:100%;
}

.payDelivery{
  display:flex;
  align-items: center;
  justify-content: center;
}
/* personalProfile */
.personalProfile .errorShow {
  color:red;
} 

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
.rejectButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.rejectButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.rejectButton:active {
	position:relative;
	top:1px;
}
.deliverCheckButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.deliverCheckButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.deliverCheckButton:active {
	position:relative;
	top:1px;
}
.deleteButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.deleteButton:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.deleteButton:active {
	position:relative;
	top:1px;
}
.releaseButton {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.releaseButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.releaseButton:active {
	position:relative;
	top:1px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translate(-300rem);
  width:60%;
  background-color: #f0f0f0;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content: flex-start;
}
.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  z-index: 500;
}
.closeSign {
  position:fixed;
  right:0;
  margin:1rem;
  color: grey;
}

@media (min-width: 500px) {
.sideDrawerButton {
  display: none;
}
}
@media (max-width: 499px) {
  .userName {
    display: none;
  }
  .home{
    display: none;
  }
  .logoName {
    font-size:2rem!important;
  }
  .yourTickets > button {
    width:80%
  }
  .sideDrawerButton {
    font-size:2rem;
    color:white;
    padding: .5rem;
    background: none;
    border:none;
    cursor: pointer;
  }
  .sidebar a{
    text-decoration: none;
  }
  .sidebar li{
    margin:1rem;
  }
}